.container-fluid {
  background-color: #e03142;
  color: white;
}

.btn-primary {
  color: #fff !important;
  background-color: #dc3545 !important;
  border-color: #f8f9fa !important;
  vertical-align: baseline !important;
}

.badge-success {
  color: #fff !important;
  background-color: #0d6321 !important;
}

.badge-danger {
  color: #fff !important;
  background-color: #1d2124 !important;
}

#root {
  margin-top: 1%;
  margin-bottom: 10%;
}

#board {
  border-collapse: collapse;
  width: 20%;
  margin: auto;
  background-color: #f8f9fa;
  color: #e03142;
  border: 5px solid #bd2130;
}

form input {
  border: none !important;
  height: 39px;
}

#board td,
#board th {
  border: 1px solid #ddd;
  padding: 15px;
  text-align: center;
}

#board tr:nth-child(even) {
  background-color: #f2f2f2;
}

#board th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #4caf50;
  color: white;
}

#board td {
  font-weight: 400;
  font-size: 25px;
  line-height: 1.2;
}

#table-container {
  padding: 15px;
}

form {
  width: 20%;
  margin: auto;
}

form input {
  width: 75%;
  margin-right: 5px;
  height: 40px;
}

form button {
  width: 20%;
}

.userWords li {
  font-size: 25px;
  font-weight: 400;
}

.userword {
  margin: auto;
  padding: 20px;
}

.userword span {
  margin: 0px 3px;
  font-size: 20px;
  font-weight: 100;
}
