<!DOCTYPE html>
<html>
  <head>
    <title>BoggleRoR</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
    <h1 style="text-align:center">Boggle on RoR</h1>
     <div class="row"> 
          <div class="col">             
             <div id="root" style="text-align:center">
                  <%= yield %>
              </div>
          </div>
     </div>
    </div>
  </body>
</html>
